# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

pretrained_model/
tflog/
models/
*.swp
.idea/workspace.xml
.idea/other.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
.idea/deephash.iml
DeepHash/examples/dhn/lr_5e-05_cqlambda_0.0_alpha_10.0_dataset_nuswide_81/events.out.tfevents.1544714132.aideep-1
DeepHash/examples/dhn/lr_5e-05_cqlambda_0.0_alpha_10.0_dataset_nuswide_81/events.out.tfevents.1544126021.BLACK-CITADEL
examples/dch/log.pkl
examples/dch/2019_4_8_0_21_28/tflog_pretrain/events.out.tfevents.1554672117.CRIMSON-CITADEL
examples/dch/2019_4_8_0_21_28/log.txt
examples/dch/2019_4_7_23_35_36/tflog_pretrain/events.out.tfevents.1554669364.CRIMSON-CITADEL
examples/dch/2019_4_7_23_35_36/log.txt
examples/dch/2019_4_7_22_6_38/tflog_pretrain/events.out.tfevents.1554664029.CRIMSON-CITADEL
examples/dch/2019_4_7_22_6_38/log.txt
examples/dch/2019_4_7_22_58_54/tflog_pretrain/events.out.tfevents.1554667162.CRIMSON-CITADEL
examples/dch/2019_4_7_22_58_54/log.txt
examples/dch/2019_4_7_22_44_32/tflog_pretrain/events.out.tfevents.1554666302.CRIMSON-CITADEL
examples/dch/2019_4_7_22_44_32/log.txt
examples/dch/2019_4_7_22_31_8/tflog_pretrain/events.out.tfevents.1554665496.CRIMSON-CITADEL
examples/dch/2019_4_7_22_31_8/log.txt
examples/dch/2019_4_7_22_1_28/log.txt
examples/dch/2019_4_7_21_45_52/tflog_pretrain/events.out.tfevents.1554662779.CRIMSON-CITADEL
examples/dch/2019_4_7_21_45_52/log.txt
examples/dch/2019_4_7_21_30_3/tflog_pretrain/events.out.tfevents.1554661832.CRIMSON-CITADEL
examples/dch/2019_4_7_21_30_3/log.txt
examples/dch/2019_4_7_21_24_39/tflog_pretrain/events.out.tfevents.1554661506.CRIMSON-CITADEL
examples/dch/2019_4_7_21_24_39/log.txt
examples/dch/2019_4_7_21_16_54/tflog_pretrain/events.out.tfevents.1554661041.CRIMSON-CITADEL
examples/dch/2019_4_7_21_16_54/log.txt
examples/dch/2019_4_7_21_14_9/log.txt
examples/dch/2019_4_7_21_11_44/log.txt
examples/dch/2019_4_5_13_53_53/tflog_pretrain/events.out.tfevents.1554463115.CRIMSON-CITADEL
examples/dch/2019_4_5_13_53_53/log.txt
examples/dch/2019_4_5_13_53_51/tflog_pretrain/events.out.tfevents.1554461904.CRIMSON-CITADEL
examples/dch/2019_4_5_13_53_51/log.txt
examples/dch/2019_4_5_13_37_8/log.txt
examples/dch/2019_4_5_13_37_6/log.txt
examples/dch/2019_4_5_12_43_49/tflog_pretrain/events.out.tfevents.1554457458.CRIMSON-CITADEL
examples/dch/2019_4_5_12_43_49/log.txt
examples/dch/2019_4_5_12_12_19/log.txt
examples/dch/2019_4_5_12_12_17/tflog_pretrain/events.out.tfevents.1554455571.CRIMSON-CITADEL
examples/dch/2019_4_5_12_12_17/log.txt
examples/dch/2019_4_4_16_4_35/log.txt
examples/dch/2019_4_4_16_4_33/log.txt
examples/dch/2019_4_4_15_47_25/log.txt
examples/dch/2019_4_8_22_58_47/log.txt
examples/dch/2019_4_9_0_8_13/log.txt
examples/dch/2019_4_9_1_36_10/log.txt
examples/dch/2019_4_9_2_57_10/log.txt
examples/dch/2019_4_9_3_20_11/log.txt
examples/dch/2019_4_9_3_3_32/log.txt
examples/dch/2019_4_9_3_40_44/log.txt
examples/dch/2019_4_9_3_43_6/log.txt
examples/dch/2019_4_9_3_43_6/tflog_pretrain/events.out.tfevents.1554770615.CRIMSON-CITADEL
examples/dch/2019_4_9_3_50_10/log.txt
examples/dch/2019_4_9_3_50_10/tflog_pretrain/events.out.tfevents.1554771038.CRIMSON-CITADEL
examples/dch/2019_4_10_0_32_55/log.txt
examples/dch/2019_4_10_0_32_55/tflog_pretrain/events.out.tfevents.1554845606.CRIMSON-CITADEL
examples/dch/2019_4_9_14_52_19/log.txt
examples/dch/2019_4_9_14_52_19/tflog_pretrain/events.out.tfevents.1554810771.CRIMSON-CITADEL
examples/dch/2019_4_9_14_59_31/log.txt
examples/dch/2019_4_9_14_59_31/tflog_pretrain/events.out.tfevents.1554811200.CRIMSON-CITADEL
examples/dch/2019_4_9_14_59_31/tflog_pretrain/plots/map.png
examples/dch/2019_4_9_14_59_31/tflog_pretrain/plots/precision.png
examples/dch/2019_4_9_14_59_31/tflog_pretrain/plots/recall.png
examples/dch/2019_4_9_16_38_40/log.txt
examples/dch/2019_4_9_16_44_45/log.txt
examples/dch/2019_4_9_16_47_1/log.txt
examples/dch/2019_4_9_16_47_1/tflog_pretrain/events.out.tfevents.1554817650.CRIMSON-CITADEL
examples/dch/2019_4_9_16_47_1/tflog_pretrain/plots/map.png
examples/dch/2019_4_9_16_47_1/tflog_pretrain/plots/precision.png
examples/dch/2019_4_9_16_47_1/tflog_pretrain/plots/recall.png
examples/dch/2019_4_9_18_40_14/log.txt
examples/dch/2019_4_9_18_43_3/log.txt
examples/dch/2019_4_9_18_43_3/tflog_pretrain/events.out.tfevents.1554824614.CRIMSON-CITADEL
examples/dch/2019_4_9_18_43_3/tflog_pretrain/plots/map.png
examples/dch/2019_4_9_18_43_3/tflog_pretrain/plots/precision.png
examples/dch/2019_4_9_18_43_3/tflog_pretrain/plots/recall.png
examples/dch/2019_4_9_20_38_18/log.txt
examples/dch/2019_4_9_20_38_18/tflog_pretrain/events.out.tfevents.1554831528.CRIMSON-CITADEL
examples/dch/2019_4_9_20_38_18/tflog_pretrain/plots/map.png
examples/dch/2019_4_9_20_38_18/tflog_pretrain/plots/precision.png
examples/dch/2019_4_9_20_38_18/tflog_pretrain/plots/recall.png
examples/dch/2019_4_9_22_38_6/log.txt
examples/dch/2019_4_9_22_38_6/tflog_pretrain/events.out.tfevents.1554838716.CRIMSON-CITADEL
examples/dch/2019_4_9_22_38_6/tflog_pretrain/plots/map.png
examples/dch/2019_4_9_22_38_6/tflog_pretrain/plots/precision.png
examples/dch/2019_4_9_22_38_6/tflog_pretrain/plots/recall.png
.idea/workspace.xml___jb_tmp___
examples/dch/2019_4_14_20_9_48/log.txt
examples/dch/2019_4_14_20_16_56/log.txt
examples/dch/2019_4_14_19_9_4/log.txt
examples/dch/2019_4_14_19_7_20/log.txt
examples/dch/2019_4_14_19_25_43/log.txt
examples/dch/2019_4_14_19_19_22/log.txt
examples/dch/2019_4_14_19_14_32/log.txt
examples/dch/2019_4_14_19_13_0/log.txt
examples/dch/2019_4_14_19_10_15/log.txt
examples/dch/2019_4_14_18_12_10/log.txt
examples/dch/2019_4_26_13_55_9/log.txt
log.pkl
examples/dch/2019_4_26_22_59_46/log.txt
examples/dch/2019_4_29_1_36_35/log.txt
examples/dch/2019_4_29_2_35_20/log.txt
examples/dch/2019_4_29_2_35_4/log.txt
2019_4_28_14_56_3/log.txt
examples/dch/2019_4_28_20_22_9/log.txt
examples/dch/2019_4_27_12_44_31/log.txt
examples/dch/2019_4_27_12_44_29/log.txt
examples/dch/2019_4_27_12_44_27/log.txt
examples/dch/2019_4_27_12_44_25/log.txt
examples/dch/2019_4_26_19_42_48/log.txt
examples/dch/2019_4_26_19_42_46/log.txt
examples/dch/2019_4_26_15_10_24/log.txt
examples/dch/2019_5_1_12_44_41/log.txt
examples/dch/2019_5_2_14_42_37/log.txt
examples/dch/2019_5_2_15_16_33/log.txt
examples/dch/2019_5_2_15_20_54/log.txt
examples/dch/2019_5_2_15_21_51/log.txt
examples/dch/2019_5_2_15_27_23/log.txt
examples/dch/2019_5_2_15_49_3/log.txt
examples/dch/2019_5_2_16_16_14/log.txt
examples/dch/2019_5_2_16_20_10/log.txt
examples/dch/2019_5_2_16_43_31/log.txt
examples/dch/2019_5_2_16_4_45/log.txt
2019_5_5_14_24_17/log.txt
2019_5_5_14_32_41/log.txt
2019_5_5_14_33_29/log.txt
2019_5_6_13_24_46/log.txt
examples/dch/2019_5_6_21_7_37/log.txt
examples/dch/2019_5_6_23_39_34/log.txt
examples/dch/2019_5_7_10_17_45/log.txt
examples/dch/2019_5_8_17_41_30/log.txt
